### Exploring Data
<li> What kind of data are you working with?
<li> Is it categorical, continuous, or a mix of both?
<li> What's the distribution of features in your dataset?
<li> What sort of wrangling do you have to do?
<li> Do you have any missing data?
<li> Do you need to remove missing data?
<li> Do you need only subset of data?

### Pandas
Pandas is a pre-processing tool. It's a data wrangling/modelling/analysis tools that is similar to R or Excel. Pandas comes with easy to use data structures two of the most famous are the series and the dataframe.

#### The Series
The Series is a one-dimensional array that can hold a variety of data types, including a mix of those types. The row labels in a Series are collectively called the index.

In [1]:
import pandas as pd

In [2]:
# List
some_numbers = [2,5,7,3,8]

In [3]:
#series
series_1 = pd.Series(some_numbers)

In [4]:
series_1

0    2
1    5
2    7
3    3
4    8
dtype: int64

To Specify an index, you can also pass in a list

In [6]:
ind = ['a','b','c','d','e']
series_2 = pd.Series(some_numbers, index = ind)
series_2

a    2
b    5
c    7
d    3
e    8
dtype: int64

We can pull that index back out again, too, with the .index attribute

In [7]:
series_2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [8]:
series_2.values

array([2, 5, 7, 3, 8], dtype=int64)

You can also create a Series with a dictionary. The keys of the dictionary will be used as the index, and the values will be used as the Series array.

In [9]:
more_numbers = {'a':9, 'b':'eight','c':7.5,'d':6}
series_3 = pd.Series(more_numbers)
series_3

a        9
b    eight
c      7.5
d        6
dtype: object

### The DataFrame

The DataFrame is Pandas most used data structure. It's a two and greater dimensional structure that can also hold a variety of mixed data types. Its similar to a spreadsheet in Excel or SQL table. You can create a DataFrame with a few different methods. First, lets look at how to create a DataFrame from multiple series objects.

In [10]:
combine_series = pd.DataFrame([series_2, series_3])
combine_series

   a      b    c  d    e
0  2      5  7.0  3  8.0
1  9  eight  7.5  6  NaN

In [11]:
combine_series.dtypes

a      int64
b     object
c    float64
d      int64
e    float64
dtype: object

Another way to create a DataFrame is with a dictionary of lists.

In [12]:
data = {'col1':['i','love','pandas','so','much'],
        'col2':['so','will','you','I','promise']
       }
data

{'col1': ['i', 'love', 'pandas', 'so', 'much'],
 'col2': ['so', 'will', 'you', 'I', 'promise']}

In [14]:
df = pd.DataFrame(data)
df

     col1     col2
0       i       so
1    love     will
2  pandas      you
3      so        I
4    much  promise

### File I/O

In [15]:
wine = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/wine.csv')
wine.head()

,abv,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyacins,color,hue,dilution,proline,wine_type
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

Reading in a text file is just as easy. Make sure to pass in '\t' to the delimeter parameter.

In [16]:
auto_mpg = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/auto_mpg.txt', delimiter='\t')
auto_mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

## Exploring Data

You can find the number of rows and the number of columns in a dataframe using .shape attribute

In [17]:
auto_mpg.shape

(398, 9)

In [18]:
auto_mpg.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

Getting column names from a DataFrame is also easy and can be done using .columns attribute

In [19]:
wine.columns

Index(['abv', 'malic_acid', 'ash', 'alcalinity', 'magnesium', 'total_phenols',
       'flavanoids', 'nonflavanoid_phenols', 'proanthocyacins', 'color', 'hue',
       'dilution', 'proline', 'wine_type'],
      dtype='object')

Another useful thing you can do is to generate some summary statistics using the describe() function.

In [20]:
wine.describe()

,abv,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyacins,color,hue,dilution,proline,wine_type
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,1.938202
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,1.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,1.000000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,2.000000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,3.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,3.000000

Another useful thing you can do to explore your data is to sort it. Let's say we wanted to sort our auto_mpg DataFrame by mpg.

In [25]:
auto_mpg.sort_values(by='mpg').tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name
326,43.4,4,90.0,48,2335,23.7,80,2,vw dasher (diesel)
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
325,44.3,4,90.0,48,2085,21.7,80,2,vw rabbit c (diesel)
329,44.6,4,91.0,67,1850,13.8,80,3,honda civic 1500 gl
322,46.6,4,86.0,65,2110,17.9,80,3,mazda glc

In [26]:
auto_mpg.sort_values(by='mpg').head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d
25,10.0,8,360.0,215,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200,4376,15.0,70,1,chevy c20
103,11.0,8,400.0,150,4997,14.0,73,1,chevrolet impala
124,11.0,8,350.0,180,3664,11.0,73,1,oldsmobile omega

## Credit Approval Data Analysis

In [27]:
f = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/credit_approval.csv')

In [28]:
f.head()

   A      B      C  D  E  F  G     H  I  J  K  L  M    N    O  P
0  b  30.83  0.000  u  g  w  v  1.25  t  t  1  f  g  202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t  6  f  g   43  560  +
2  a   24.5  0.500  u  g  q  h  1.50  t  f  0  f  g  280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t  5  t  g  100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f  0  f  s  120    0  +

In [29]:
#Grab the column names
f.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
       'O', 'P'],
      dtype='object')

In [31]:
# How many rows and columns does the data have?
f.shape

(690, 16)

In [32]:
f.describe()

                C           H          K              O
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000

In [34]:
#Sort on column H
f.sort_values(by = 'H').tail() ## Last 5 lines

     A      B     C  D  E   F   G     H  I  J   K  L  M   N     O  P
586  b  64.08  20.0  u  g   x   h  17.5  t  t   9  t  g   0  1000  +
212  b  60.08  14.5  u  g  ff  ff  18.0  t  t  15  t  g   0  1000  +
250  b  40.25  21.5  u  g   e   z  20.0  t  t  11  f  g   0  1200  +
221  b  65.42  11.0  u  g   e   z  20.0  t  t   7  t  g  22     0  +
44   b  56.42  28.0  y  p   c   v  28.5  t  t  40  f  g   0    15  +

In [36]:
#Slicing the data
wine[8:14]

,abv,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyacins,color,hue,dilution,proline,wine_type
8,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045,1
9,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045,1
10,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510,1
11,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280,1
12,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.60,1.15,2.90,1320,1
13,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150,1

Pandas also has tools for purely label-based selection of rows and columns using .loc indexer. The .loc indexer takes the input as [row, column]

In [37]:
wine.loc[8, 'abv']

14.83

We can use .loc to grab slices. It's important to note that .loc interprets the index as a label. This means that if we select a range, it will grab last item in the range, unlike slicing a list. The index is the label for the rows.

In [38]:
wine.loc[8:11,'abv']

8     14.83
9     13.86
10    14.10
11    14.12
Name: abv, dtype: float64

And, as you might expect, we can select multiple columns by passing in a list of column names.

In [39]:
wine.loc[8:11,['abv','ash','color']]

      abv   ash  color
8   14.83  2.17   5.20
9   13.86  2.27   7.22
10  14.10  2.30   5.75
11  14.12  2.32   5.00

Finally, let's just grab all columns from 8 to 11.

In [40]:
wine.loc[8:11,:]

,abv,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyacins,color,hue,dilution,proline,wine_type
8,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045,1
9,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045,1
10,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510,1
11,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280,1

Pandas has tools for purely position-based selection of rows and columns using the .iloc indexer, which works exactly how slicing a list works. The .iloc indexer also takes input as [row,column], but takes only integer input.

In [42]:
auto_mpg.iloc[60,6]

72

To grab rows 60-63 and the last three columns from the auto_mpg DataFrame, we would need to do the following: -

In [43]:
auto_mpg.iloc[60:64,6:9]

    model  origin             car_name
60     72       1       chevrolet vega
61     72       1  ford pinto runabout
62     72       1     chevrolet impala
63     72       1     pontiac catalina

To grab all values

In [44]:
auto_mpg.iloc[:,6:9]

     model  origin                   car_name
0       70       1  chevrolet chevelle malibu
1       70       1          buick skylark 320
2       70       1         plymouth satellite
3       70       1              amc rebel sst
4       70       1                ford torino
..     ...     ...                        ...
393     82       1            ford mustang gl
394     82       2                  vw pickup
395     82       1              dodge rampage
396     82       1                ford ranger
397     82       1                 chevy s-10

[398 rows x 3 columns]

In [46]:
auto_mpg.iloc[1:7, :]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala

Boolean Selection which is similar to a where clause in SQL

In [47]:
wine[wine['wine_type'] == 1]

,abv,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyacins,color,hue,dilution,proline,wine_type
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
5,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,1
6,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290,1
7,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295,1
8,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045,1
9,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045,1
10,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510,1
11,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280,1
12,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.60,1.15,2.90,1320,1
13,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150,1
14,14.38,1.87,2.38,12.0,102,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547,1
15,13.63,1.81,2.70,17.2,112,2.85,2.91,0.30,1.46,7.30,1.28,2.88,1310,1
16,14.30,1.92,2.72,20.0,120,2.80,3.14,0.33,1.97,6.20,1.07,2.65,1280,1
17,13.83,1.57,2.62,20.0,115,2.95,3.40,0.40,1.72,6.60,1.13,2.57,1130,1
18,14.19,1.59,2.48,16.5,108,3.30,3.93,0.32,1.86,8.70,1.23,2.82,1680,1
19,13.64,3.10,2.56,15.2,116,2.70,3.03,0.17,1.66,5.10,0.96,3.36,845,1
20,14.06,1.63,2.28,16.0,126,3.00,3.17,0.24,2.10,5.65,1.09,3.71,780,1
21,12.93,3.80,2.65,18.6,102,2.41,2.41,0.25,1.98,4.50,1.03,3.52,770,1
22,13.71,1.86,2.36,16.6,101,2.61,2.88,0.27,1.69,3.80,1.11,4.00,1035,1
23,12.85,1.60,2.52,17.8,95,2.48,2.37,0.26,1.46,3.93,1.09,3.63,1015,1
24,13.50,1.81,2.61,20.0,96,2.53,2.61,0.28,1.66,3.52,1.12,3.82,845,1
25,13.05,2.05,3.22,25.0,124,2.63,2.68,0.47,1.92,3.58,1.13,3.20,830,1
26,13.39,1.77,2.62,16.1,93,2.85,2.94,0.34,1.45,4.80,0.92,3.22,1195,1
27,13.30,1.72,2.14,17.0,94,2.40,2.19,0.27,1.35,3.95,1.02,2.77,1285,1
28,13.87,1.90,2.80,19.4,107,2.95,2.97,0.37,1.76,4.50,1.25,3.40,915,1
29,14.02,1.68,2.21,16.0,96,2.65,2.33,0.26,1.98,4.70,1.04,3.59,1035,1
30,13.73,1.50,2.70,22.5,101,3.00,3.25,0.29,2.38,5.70,1.19,2.71,1285,1
31,13.58,1.66,2.36,19.1,106,2.86,3.19,0.22,1.95,6.90,1.09,2.88,1515,1
32,13.68,1.83,2.36,17.2,104,2.42,2.69,0.42,1.97,3.84,1.23,2.87,990,1
33,13.76,1.53,2.70,19.5,132,2.95,2.74,0.50,1.35,5.40,1.25,3.00,1235,1
34,13.51,1.80,2.65,19.0,110,2.35,2.53,0.29,1.54,4.20,1.10,2.87,1095,1
35,13.48,1.81,2.41,20.5,100,2.70,2.98,0.26,1.86,5.10,1.04,3.47,920,1
36,13.28,1.64,2.84,15.5,110,2.60,2.68,0.34,1.36,4.60,1.09,2.78,880,1
37,13.05,1.65,2.55,18.0,98,2.45,2.43,0.29,1.44,4.25,1.12,2.51,1105,1
38,13.07,1.50,2.10,15.5,98,2.40,2.64,0.28,1.37,3.70,1.18,2.69,1020,1
39,14.22,3.99,2.51,13.2,128,3.00,3.04,0.20,2.08,5.10,0.89,3.53,760,1
40,13.56,1.71,2.31,16.2,117,3.15,3.29,0.34,2.34,6.13,0.95,3.38,795,1
41,13.41,3.84,2.12,18.8,90,2.45,2.68,0.27,1.48,4.28,0.91,3.00,1035,1
42,13.88,1.89,2.59,15.0,101,3.25,3.56,0.17,1.70,5.43,0.88,3.56,1095,1
43,13.24,3.98,2.29,17.5,103,2.64,2.63,0.32,1.66,4.36,0.82,3.00,680,1
44,13.05,1.77,2.10,17.0,107,3.00,3.00,0.28,2.03,5.04,0.88,3.35,885,1
45,14.21,4.04,2.44,18.9,111,2.85,2.65,0.30,1.25,5.24,0.87,3.33,1080,1
46,14.38,3.59,2.28,16.0,102,3.25,3.17,0.27,2.19,4.90,1.04,3.44,1065,1
47,13.90,1.68,2.12,16.0,101,3.10,3.39,0.21,2.14,6.10,0.91,3.33,985,1
48,14.10,2.02,2.40,18.8,103,2.75,2.92,0.32,2.38,6.20,1.07,2.75,1060,1
49,13.94,1.73,2.27,17.4,108,2.88,3.54,0.32,2.08,8.90,1.12,3.10,1260,1
50,13.05,1.73,2.04,12.4,92,2.72,3.27,0.17,2.91,7.20,1.12,2.91,1150,1
51,13.83,1.65,2.60,17.2,94,2.45,2.99,0.22,2.29,5.60,1.24,3.37,1265,1
52,13.82,1.75,2.42,14.0,111,3.88,3.74,0.32,1.87,7.05,1.01,3.26,1190,1
53,13.77,1.90,2.68,17.1,115,3.00,2.79,0.39,1.68,6.30,1.13,2.93,1375,1
54,13.74,1.67,2.25,16.4,118,2.60,2.90,0.21,1.62,5.85,0.92,3.20,1060,1
55,13.56,1.73,2.46,20.5,116,2.96,2.78,0.20,2.45,6.25,0.98,3.03,1120,1
56,14.22,1.70,2.30,16.3,118,3.20,3.00,0.26,2.03,6.38,0.94,3.31,970,1
57,13.29,1.97,2.68,16.8,102,3.00,3.23,0.31,1.66,6.00,1.07,2.84,1270,1
58,13.72,1.43,2.50,16.7,108,3.40,3.67,0.19,2.04,6.80,0.89,2.87,1285,1

In [48]:
wine[wine['magnesium'] <100]

,abv,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyacins,color,hue,dilution,proline,wine_type
6,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.250000,1.02,3.58,1290,1
8,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.200000,1.08,2.85,1045,1
9,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.220000,1.01,3.55,1045,1
11,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.000000,1.17,2.82,1280,1
12,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.600000,1.15,2.90,1320,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,12.20,3.03,2.32,19.0,96,1.25,0.49,0.40,0.73,5.500000,0.66,1.83,510,3
171,12.77,2.39,2.28,19.5,86,1.39,0.51,0.48,0.64,9.899999,0.57,1.63,470,3
172,14.16,2.51,2.48,20.0,91,1.68,0.70,0.44,1.24,9.700000,0.62,1.71,660,3
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.700000,0.64,1.74,740,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.200000,0.61,1.60,560,3

In [50]:
wine[~(wine['magnesium']<100)]

,abv,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyacins,color,hue,dilution,proline,wine_type
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,13.58,2.58,2.69,24.5,105,1.55,0.84,0.39,1.54,8.66,0.74,1.80,750,3
169,13.40,4.60,2.86,25.0,112,1.98,0.96,0.27,1.11,8.50,0.67,1.92,630,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,3

In [52]:
wine[(wine['magnesium'] < 100) & (wine['wine_type'] == 1)]

,abv,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyacins,color,hue,dilution,proline,wine_type
6,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290,1
8,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045,1
9,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045,1
11,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280,1
12,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.60,1.15,2.90,1320,1
13,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150,1
23,12.85,1.60,2.52,17.8,95,2.48,2.37,0.26,1.46,3.93,1.09,3.63,1015,1
24,13.50,1.81,2.61,20.0,96,2.53,2.61,0.28,1.66,3.52,1.12,3.82,845,1
26,13.39,1.77,2.62,16.1,93,2.85,2.94,0.34,1.45,4.80,0.92,3.22,1195,1
27,13.30,1.72,2.14,17.0,94,2.40,2.19,0.27,1.35,3.95,1.02,2.77,1285,1
29,14.02,1.68,2.21,16.0,96,2.65,2.33,0.26,1.98,4.70,1.04,3.59,1035,1
37,13.05,1.65,2.55,18.0,98,2.45,2.43,0.29,1.44,4.25,1.12,2.51,1105,1
38,13.07,1.50,2.10,15.5,98,2.40,2.64,0.28,1.37,3.70,1.18,2.69,1020,1
41,13.41,3.84,2.12,18.8,90,2.45,2.68,0.27,1.48,4.28,0.91,3.00,1035,1
50,13.05,1.73,2.04,12.4,92,2.72,3.27,0.17,2.91,7.20,1.12,2.91,1150,1
51,13.83,1.65,2.60,17.2,94,2.45,2.99,0.22,2.29,5.60,1.24,3.37,1265,1

Another method of selecting data is using the isin() function. If you pass in a list to isin(), it will return a DataFrame of booleans.

In [53]:
auto_mpg_5 = auto_mpg.head()

In [54]:
vals = [8, 150, 12.0, 'ford torino']

In [55]:
auto_mpg.isin(vals)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name
0,False,True,False,False,False,True,False,False,False
1,False,True,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False
3,False,True,False,False,False,True,False,False,False
4,False,True,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [57]:
f.head()

   A      B      C  D  E  F  G     H  I  J  K  L  M    N    O  P
0  b  30.83  0.000  u  g  w  v  1.25  t  t  1  f  g  202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t  6  f  g   43  560  +
2  a   24.5  0.500  u  g  q  h  1.50  t  f  0  f  g  280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t  5  t  g  100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f  0  f  s  120    0  +

In [60]:
f.iloc[:,2]

0       0.000
1       4.460
2       0.500
3       1.540
4       5.625
        ...
685    10.085
686     0.750
687    13.500
688     0.205
689     3.375
Name: C, Length: 690, dtype: float64

In [65]:
f.iloc[0:5,:]

   A      B      C  D  E  F  G     H  I  J  K  L  M    N    O  P
0  b  30.83  0.000  u  g  w  v  1.25  t  t  1  f  g  202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t  6  f  g   43  560  +
2  a   24.5  0.500  u  g  q  h  1.50  t  f  0  f  g  280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t  5  t  g  100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f  0  f  s  120    0  +

In [69]:
f.iloc[12,2]

6.0

In [70]:
f[(f['C'] > 5) & (f['F'] == 'w')]

     A      B       C  D  E  F  G       H  I  J   K  L  M    N     O  P
4    b  20.17   5.625  u  g  w  v   1.710  t  f   0  f  s  120     0  +
43   b  39.58  13.915  u  g  w  v   8.625  t  t   6  t  g   70     0  +
55   b  23.33  11.625  y  p  w  v   0.835  t  f   0  t  g  160   300  +
68   b  19.42   6.500  u  g  w  h   1.460  t  t   7  f  g   80  2954  +
112  b  24.58  12.500  u  g  w  v   0.875  t  f   0  t  g  260     0  -
138  a  18.83   9.500  u  g  w  v   1.625  t  t   6  t  g   40   600  +
143  b  22.33  11.000  u  g  w  v   2.000  t  t   1  f  g   80   278  +
197  b  48.17   7.625  u  g  w  h  15.500  t  t  12  f  g    0   790  +
233  b  27.67  13.750  u  g  w  v   5.750  t  f   0  t  g  487   500  +
241  b  48.25  25.085  u  g  w  v   1.750  t  t   3  f  g  120    14  +
285  b  17.58  10.000  u  g  w  h   0.165  f  t   1  f  g  120     1  -
291  a  18.25  10.000  u  g  w  v   1.000  f  t   1  f  g  120     1  -
455  b  36.17  18.125  u  g  w  v   0.085  f  f   0  f  g  320  3552  -
495  b  19.17   9.500  u  g  w  v   1.500  t  f   0  f  g  120  2206  +
566  b  23.08  11.500  u  g  w  h   2.125  t  t  11  t  g  290   284  +
583  b  32.67   9.000  y  p  w  h   5.250  t  f   0  t  g  154     0  +
593  b  34.17   5.250  u  g  w  v   0.085  f  f   0  t  g  290     6  +
670  b  47.17   5.835  u  g  w  v   5.500  f  f   0  f  g  465   150  -

## Groupby

`groupby()` is just like SQL's 'group by' clause. What groupby does is a three-step process:

- Split the data
- Apply a function to the split groups
- Recombine the data

In the apply step, you can do things like apply a statistical function, filter out data, or transform the data.

Let's `groupby()` the wine_type in our wine `DataFrame`! Let's start with just `groupby()`, and then build it from there. This will produce a `DataFrame groupby` object.

In [71]:
wine.groupby('wine_type')

This object has some attributes you can access. We can get lists of which rows are in which group by using the .groups attribute

In [73]:
wine.groupby('wine_type').groups

{1: Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
             34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
             51, 52, 53, 54, 55, 56, 57, 58],
            dtype='int64'),
 2: Int64Index([ 59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,
              72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,
              85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
              98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
             111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123,
             124, 125, 126, 127, 128, 129],
            dtype='int64'),
 3: Int64Index([130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
             143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
             156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
             169, 170, 171, 172, 173, 174, 175, 176, 177],
            dtype='int64')}

The dataset was in order by `wine_type` to begin with, so that makes sense. To get just the keys, add the `.keys()` function to the end of that line.

In [74]:
wine.groupby('wine_type').groups.keys()

dict_keys([1, 2, 3])

Let's group our `auto_mpg` dataset by cylinders, just for contrast.

In [75]:
auto_mpg.groupby('cylinders').groups

{3: Int64Index([71, 111, 243, 334], dtype='int64'),
 4: Int64Index([ 14,  18,  19,  20,  21,  22,  23,  29,  30,  31,
             ...
             385, 388, 390, 391, 392, 393, 394, 395, 396, 397],
            dtype='int64', length=204),
 5: Int64Index([274, 297, 327], dtype='int64'),
 6: Int64Index([ 15,  16,  17,  24,  33,  34,  35,  36,  37,  45,  47,  48,  97,
              98,  99, 100, 101, 107, 113, 123, 125, 126, 127, 128, 133, 134,
             135, 152, 153, 154, 155, 160, 161, 162, 163, 164, 169, 174, 176,
             191, 192, 193, 194, 199, 200, 201, 202, 210, 211, 225, 226, 227,
             228, 241, 252, 253, 254, 256, 257, 258, 259, 260, 261, 263, 275,
             277, 280, 281, 283, 284, 306, 307, 316, 333, 341, 360, 361, 362,
             363, 365, 366, 386, 387, 389],
            dtype='int64'),
 8: Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
             ...
             286, 287, 288, 289, 290, 291, 292, 298, 300, 364],
            dtype='int64', length=103)}

You can see we have four observations with three cylinders, many more with four, and so on.

In [76]:
wine.groupby('wine_type').mean()

,abv,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyacins,color,hue,dilution,proline
wine_type,,,,,,,,,,,,,
1,13.744746,2.010678,2.455593,17.037288,106.338983,2.840169,2.982373,0.290000,1.899322,5.528305,1.062034,3.157797,1115.711864
2,12.278732,1.932676,2.244789,20.238028,94.549296,2.258873,2.080845,0.363662,1.630282,3.086620,1.056282,2.785352,519.507042
3,13.153750,3.333750,2.437083,21.416667,99.312500,1.678750,0.781458,0.447500,1.153542,7.396250,0.682708,1.683542,629.895833

In [77]:
wine_type_mean = wine.groupby('wine_type').mean()

wine_type_mean.loc[2, 'abv']

12.278732394366198

It's also possible to apply multiple functions to the entire DataFrame using the agg() function. Let's get not only the mean, but the count and the standard deviation as well for each value in the DataFrame, still grouping by wine_type.

In [79]:
wine.groupby('wine_type').agg(['mean','count','std'])

                 abv                 malic_acid                       ash  \
                mean count       std       mean count       std      mean
wine_type
1          13.744746    59  0.462125   2.010678    59  0.688549  2.455593
2          12.278732    71  0.537964   1.932676    71  1.015569  2.244789
3          13.153750    48  0.530241   3.333750    48  1.087906  2.437083

                          alcalinity  ...     color       hue                  \
          count       std       mean  ...       std      mean count       std
wine_type                             ...
1            59  0.227166  17.037288  ...  1.238573  1.062034    59  0.116483
2            71  0.315467  20.238028  ...  0.924929  1.056282    71  0.202937
3            48  0.184690  21.416667  ...  2.310942  0.682708    48  0.114441

           dilution                      proline
               mean count       std         mean count         std
wine_type
1          3.157797    59  0.357077  1115.711864    59  221.520767
2          2.785352    71  0.496573   519.507042    71  157.211220
3          1.683542    48  0.272111   629.895833    48  115.097043

[3 rows x 39 columns]

It's also possible to run different functions on different columns. Let's get the mean for abv, the standard deviation for ash, and the sum of the values for hue. To do this, you'll need to create a dictionary with these functions, with the column names as the dictionary keys.

In [80]:
multiple_funcs = {'abv': 'std', 'ash': 'mean', 'hue': sum}

wine.groupby('wine_type').agg(multiple_funcs)

                abv       ash     hue
wine_type
1          0.462125  2.455593  62.660
2          0.537964  2.244789  74.996
3          0.530241  2.437083  32.770

In [81]:
# Let's group credit_approval by column G
f.head()

   A      B      C  D  E  F  G     H  I  J  K  L  M    N    O  P
0  b  30.83  0.000  u  g  w  v  1.25  t  t  1  f  g  202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t  6  f  g   43  560  +
2  a   24.5  0.500  u  g  q  h  1.50  t  f  0  f  g  280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t  5  t  g  100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f  0  f  s  120    0  +

In [83]:
f.groupby('C')

In [84]:
# Can you generate a list of all of the groups in the groupby object we just made?
f.groupby('C').groups

{0.0: Int64Index([  0,  56, 171, 206, 257, 261, 270, 314, 318, 330, 387, 435, 440,
             444, 456, 512, 592, 622, 623],
            dtype='int64'),
 0.04: Int64Index([558, 581, 606, 608, 665], dtype='int64'),
 0.08: Int64Index([159], dtype='int64'),
 0.085: Int64Index([265], dtype='int64'),
 0.125: Int64Index([319, 416, 446, 486, 598], dtype='int64'),
 0.165: Int64Index([269, 301, 355, 357, 437, 502, 575, 621], dtype='int64'),
 0.17: Int64Index([389], dtype='int64'),
 0.205: Int64Index([191, 323, 688], dtype='int64'),
 0.21: Int64Index([247, 312, 594], dtype='int64'),
 0.25: Int64Index([18, 236, 316, 379, 409, 603], dtype='int64'),
 0.29: Int64Index([142, 180, 459, 463, 631, 680], dtype='int64'),
 0.335: Int64Index([294, 363, 403, 429, 527, 648], dtype='int64'),
 0.375: Int64Index([67, 86, 228, 321, 322, 401, 518, 568, 658], dtype='int64'),
 0.415: Int64Index([288, 474, 483, 652], dtype='int64'),
 0.42: Int64Index([555, 644], dtype='int64'),
 0.46: Int64Index([150, 414, 546, 600], dtype='int64'),
 0.5: Int64Index([2, 8, 50, 57, 73, 82, 97, 200, 375, 462, 480, 498, 576, 636, 668], dtype='int64'),
 0.54: Int64Index([136, 167, 292, 348, 362, 393, 572, 667], dtype='int64'),
 0.58: Int64Index([287, 589], dtype='int64'),
 0.585: Int64Index([25, 38, 77, 264, 281, 351, 374, 397, 436, 604], dtype='int64'),
 0.625: Int64Index([84, 96, 254], dtype='int64'),
 0.665: Int64Index([49, 407, 453, 629], dtype='int64'),
 0.67: Int64Index([531], dtype='int64'),
 0.705: Int64Index([418], dtype='int64'),
 0.71: Int64Index([634], dtype='int64'),
 0.75: Int64Index([109, 113, 290, 315, 335, 369, 457, 490, 517, 591, 595, 616, 639,
             642, 683, 686],
            dtype='int64'),
 0.79: Int64Index([62, 412, 612, 624], dtype='int64'),
 0.83: Int64Index([10, 580, 654], dtype='int64'),
 0.835: Int64Index([63, 279, 377, 423, 427, 476, 533, 672], dtype='int64'),
 0.875: Int64Index([16, 280, 439, 461, 491, 496], dtype='int64'),
 0.915: Int64Index([569], dtype='int64'),
 0.96: Int64Index([192], dtype='int64'),
 1.0: Int64Index([21, 51, 66, 99, 201, 302, 433, 489, 548, 681], dtype='int64'),
 1.04: Int64Index([6, 29, 111, 188, 544, 675], dtype='int64'),
 1.08: Int64Index([484], dtype='int64'),
 1.085: Int64Index([325, 326, 421], dtype='int64'),
 1.125: Int64Index([115, 169, 448, 561], dtype='int64'),
 1.165: Int64Index([78, 106], dtype='int64'),
 1.21: Int64Index([266], dtype='int64'),
 1.25: Int64Index([114, 283, 324, 337, 365, 394, 415, 422, 425, 438, 536, 602, 610,
             615, 630, 679],
            dtype='int64'),
 1.29: Int64Index([308], dtype='int64'),
 1.335: Int64Index([262, 356, 378], dtype='int64'),
 1.375: Int64Index([93, 467], dtype='int64'),
 1.415: Int64Index([42], dtype='int64'),
 1.46: Int64Index([557], dtype='int64'),
 1.5: Int64Index([ 35,  81,  89,  94, 146, 154, 175, 286, 320, 346, 349, 386, 413,
             454, 525, 540, 547, 562, 632, 662, 664],
            dtype='int64'),
 1.54: Int64Index([3, 48, 65, 268, 373, 432], dtype='int64'),
 1.585: Int64Index([36, 193, 353, 535], dtype='int64'),
 1.625: Int64Index([395, 451, 578], dtype='int64'),
 1.665: Int64Index([144, 447, 524, 657], dtype='int64'),
 1.71: Int64Index([162, 367, 519], dtype='int64'),
 1.75: Int64Index([100, 163, 232, 259, 289, 311, 344, 526, 538, 588, 601, 605], dtype='int64'),
 1.79: Int64Index([417], dtype='int64'),
 1.835: Int64Index([11, 131, 235, 464], dtype='int64'),
 2.0: Int64Index([158, 160, 161, 244, 300, 350, 354, 364, 475, 673], dtype='int64'),
 2.04: Int64Index([46, 52, 198, 396, 426, 669], dtype='int64'),
 2.085: Int64Index([399, 530], dtype='int64'),
 2.125: Int64Index([204], dtype='int64'),
 2.165: Int64Index([424, 633], dtype='int64'),
 2.21: Int64Index([87], dtype='int64'),
 2.25: Int64Index([108, 342, 532, 620, 641], dtype='int64'),
 2.29: Int64Index([428, 559], dtype='int64'),
 2.335: Int64Index([181, 260, 468], dtype='int64'),
 2.415: Int64Index([293, 460, 599], dtype='int64'),
 2.46: Int64Index([635], dtype='int64'),
 2.5: Int64Index([ 53, 126, 145, 153, 208, 271, 274, 297, 328, 331, 332, 334, 361,
             370, 382, 420, 477, 534, 674],
            dtype='int64'),
 2.54: Int64Index([170, 419, 514, 627], dtype='int64'),
 2.665: Int64Index([645], dtype='int64'),
 2.71: Int64Index([214, 434, 442, 479], dtype='int64'),
 2.75: Int64Index([137, 202, 298, 306, 343, 570, 640], dtype='int64'),
 2.835: Int64Index([410], dtype='int64'),
 2.875: Int64Index([303, 567], dtype='int64'),
 3.0: Int64Index([ 54,  59, 182, 231, 309, 338, 339, 358, 411, 430, 443, 450, 465,
             507, 522, 541, 565, 571, 596],
            dtype='int64'),
 3.04: Int64Index([156, 245], dtype='int64'),
 3.085: Int64Index([466], dtype='int64'),
 3.125: Int64Index([295, 408], dtype='int64'),
 3.165: Int64Index([196, 431, 481, 537], dtype='int64'),
 3.25: Int64Index([168, 611, 656], dtype='int64'),
 3.29: Int64Index([682, 684], dtype='int64'),
 3.335: Int64Index([553], dtype='int64'),
 3.375: Int64Index([689], dtype='int64'),
 3.5: Int64Index([83, 110, 129, 215, 230, 327, 607, 661], dtype='int64'),
 3.54: Int64Index([95, 488], dtype='int64'),
 3.625: Int64Index([638], dtype='int64'),
 3.75: Int64Index([140, 504, 649, 650, 659], dtype='int64'),
 3.79: Int64Index([543], dtype='int64'),
 4.0: Int64Index([5, 71, 85, 104, 225, 329, 340, 473, 500, 510, 511, 663], dtype='int64'),
 4.04: Int64Index([194, 216], dtype='int64'),
 4.085: Int64Index([341, 469], dtype='int64'),
 4.125: Int64Index([471], dtype='int64'),
 4.165: Int64Index([609], dtype='int64'),
 4.25: Int64Index([64, 128, 209, 383, 452, 582], dtype='int64'),
 4.415: Int64Index([15, 494, 614], dtype='int64'),
 4.46: Int64Index([1, 47, 282], dtype='int64'),
 4.5: Int64Index([58, 88, 310, 347, 556], dtype='int64'),
 4.585: Int64Index([372], dtype='int64'),
 4.625: Int64Index([189, 238], dtype='int64'),
 4.71: Int64Index([359], dtype='int64'),
 4.75: Int64Index([618], dtype='int64'),
 4.79: Int64Index([509], dtype='int64'),
 4.915: Int64Index([9], dtype='int64'),
 5.0: Int64Index([72, 92, 102, 125, 133, 187, 242, 251, 380, 391, 441, 501, 516,
             655],
            dtype='int64'),
 5.04: Int64Index([195, 564], dtype='int64'),
 5.085: Int64Index([400, 404], dtype='int64'),
 5.125: Int64Index([33, 503], dtype='int64'),
 5.25: Int64Index([593], dtype='int64'),
 5.29: Int64Index([75, 521], dtype='int64'),
 5.415: Int64Index([276], dtype='int64'),
 5.5: Int64Index([130, 134, 224, 226, 360, 385, 458, 539], dtype='int64'),
 5.625: Int64Index([4], dtype='int64'),
 5.665: Int64Index([184], dtype='int64'),
 5.71: Int64Index([275], dtype='int64'),
 5.835: Int64Index([670], dtype='int64'),
 5.875: Int64Index([17, 210], dtype='int64'),
 6.0: Int64Index([12, 267, 405, 577, 579, 597], dtype='int64'),
 6.04: Int64Index([13], dtype='int64'),
 6.165: Int64Index([366], dtype='int64'),
 6.21: Int64Index([120], dtype='int64'),
 6.5: Int64Index([24, 68, 76, 117, 135, 148, 152, 186, 336, 402, 472, 590], dtype='int64'),
 6.625: Int64Index([211], dtype='int64'),
 6.665: Int64Index([123], dtype='int64'),
 6.75: Int64Index([45, 272], dtype='int64'),
 7.0: Int64Index([74, 116, 345, 381, 390, 449, 499, 643], dtype='int64'),
 7.04: Int64Index([118], dtype='int64'),
 7.08: Int64Index([528], dtype='int64'),
 7.25: Int64Index([677], dtype='int64'),
 7.5: Int64Index([70, 237, 243, 520], dtype='int64'),
 7.54: Int64Index([147], dtype='int64'),
 7.585: Int64Index([32], dtype='int64'),
 7.625: Int64Index([197, 651], dtype='int64'),
 7.835: Int64Index([626], dtype='int64'),
 8.0: Int64Index([22, 132], dtype='int64'),
 8.125: Int64Index([406], dtype='int64'),
 8.17: Int64Index([179], dtype='int64'),
 8.46: Int64Index([227], dtype='int64'),
 8.5: Int64Index([28, 185, 246, 523, 646], dtype='int64'),
 8.585: Int64Index([19], dtype='int64'),
 8.665: Int64Index([177], dtype='int64'),
 9.0: Int64Index([124, 222, 296, 506, 583, 647, 660], dtype='int64'),
 9.17: Int64Index([40], dtype='int64'),
 9.25: Int64Index([178, 219, 497], dtype='int64'),
 9.335: Int64Index([207], dtype='int64'),
 9.415: Int64Index([39], dtype='int64'),
 9.5: Int64Index([138, 166, 482, 492, 495], dtype='int64'),
 9.54: Int64Index([223, 258], dtype='int64'),
 9.585: Int64Index([637], dtype='int64'),
 9.625: Int64Index([218], dtype='int64'),
 9.75: Int64Index([79], dtype='int64'),
 9.79: Int64Index([31], dtype='int64'),
 9.96: Int64Index([513], dtype='int64'),
 10.0: Int64Index([151, 165, 240, 277, 285, 291, 313, 542, 551, 574], dtype='int64'),
 10.04: Int64Index([199], dtype='int64'),
 10.085: Int64Index([685], dtype='int64'),
 10.125: Int64Index([239, 273], dtype='int64'),
 10.21: Int64Index([678], dtype='int64'),
 10.25: Int64Index([203, 255], dtype='int64'),
 10.29: Int64Index([307], dtype='int64'),
 10.335: Int64Index([119], dtype='int64'),
 10.415: Int64Index([619], dtype='int64'),
 10.5: Int64Index([14, 174, 190, 263, 515], dtype='int64'),
 10.665: Int64Index([676], dtype='int64'),
 10.75: Int64Index([34], dtype='int64'),
 10.915: Int64Index([613], dtype='int64'),
 11.0: Int64Index([98, 107, 127, 143, 221, 229, 249, 252, 545], dtype='int64'),
 11.045: Int64Index([256], dtype='int64'),
 11.125: Int64Index([253], dtype='int64'),
 11.25: Int64Index([20, 445, 554], dtype='int64'),
 11.46: Int64Index([384], dtype='int64'),
 11.5: Int64Index([155, 213, 217, 352, 368, 478, 566, 653], dtype='int64'),
 11.585: Int64Index([7], dtype='int64'),
 11.625: Int64Index([55], dtype='int64'),
 11.665: Int64Index([470], dtype='int64'),
 11.75: Int64Index([37, 666], dtype='int64'),
 11.835: Int64Index([493], dtype='int64'),
 12.0: Int64Index([103, 205, 508, 549, 625], dtype='int64'),
 12.125: Int64Index([299], dtype='int64'),
 12.25: Int64Index([60], dtype='int64'),
 12.33: Int64Index([560], dtype='int64'),
 12.335: Int64Index([563], dtype='int64'),
 12.5: Int64Index([112, 121, 122, 172, 176, 333, 392, 398], dtype='int64'),
 12.54: Int64Index([220], dtype='int64'),
 12.625: Int64Index([284], dtype='int64'),
 12.75: Int64Index([90, 248], dtype='int64'),
 12.835: Int64Index([671], dtype='int64'),
 13.0: Int64Index([26, 371, 628], dtype='int64'),
 13.335: Int64Index([487], dtype='int64'),
 13.5: Int64Index([139, 278, 687], dtype='int64'),
 13.585: Int64Index([173], dtype='int64'),
 13.665: Int64Index([304], dtype='int64'),
 13.75: Int64Index([233], dtype='int64'),
 13.915: Int64Index([43], dtype='int64'),
 14.0: Int64Index([573, 617], dtype='int64'),
 14.5: Int64Index([23, 212, 376], dtype='int64'),
 14.585: Int64Index([388], dtype='int64'),
 14.79: Int64Index([30], dtype='int64'),
 15.0: Int64Index([41, 149, 157, 552, 584, 587], dtype='int64'),
 15.5: Int64Index([91, 105], dtype='int64'),
 16.0: Int64Index([141], dtype='int64'),
 16.165: Int64Index([61], dtype='int64'),
 16.5: Int64Index([101, 164], dtype='int64'),
 17.75: Int64Index([585], dtype='int64'),
 18.125: Int64Index([455], dtype='int64'),
 18.5: Int64Index([27], dtype='int64'),
 19.0: Int64Index([80, 485], dtype='int64'),
 19.5: Int64Index([183, 505], dtype='int64'),
 20.0: Int64Index([586], dtype='int64'),
 21.0: Int64Index([234], dtype='int64'),
 21.5: Int64Index([250], dtype='int64'),
 22.0: Int64Index([317], dtype='int64'),
 22.29: Int64Index([550], dtype='int64'),
 25.085: Int64Index([241], dtype='int64'),
 25.125: Int64Index([69], dtype='int64'),
 25.21: Int64Index([529], dtype='int64'),
 26.335: Int64Index([305], dtype='int64'),
 28.0: Int64Index([44], dtype='int64')}

In [89]:
multiple_funcs = {'O': 'mean', 'C': 'sum', 'H': 'count'}

f.groupby('A').agg(multiple_funcs)

             O         C    H
A
?   227.583333    36.335   12
a  1033.623810  1065.265  210
b  1030.350427  2181.920  468

## Merge/join; or, how Pandas can be like SQL
In Pandas, it's possible to combine DataFrames and Series much like you would in SQL. For the examples in this section, we'll work with smaller DataFrames rather than our datasets. It's easier to provide proof of concept this way, as well as explain what's going on

Let's start by appending a row to a DataFrame. We can do that by passing in a dictionary to the append function, and setting ignore_index equal to True

In [90]:
data = pd.DataFrame({'col1': ['i', 'love', 'pandas', 'so', 'much'],
        'col2': ['so', 'will', 'you', 'i', 'promise']})
data.append({'col1': 'dude', 'col2': 'dude'}, ignore_index=True)

     col1     col2
0       i       so
1    love     will
2  pandas      you
3      so        i
4    much  promise
5    dude     dude

In [91]:
data['col3'] = ['how', 'do', 'you', 'like', 'oscon']
data

     col1     col2   col3
0       i       so    how
1    love     will     do
2  pandas      you    you
3      so        i   like
4    much  promise  oscon

## Merge
You can merge() in different ways, just like joining in SQL. Let's look at an imaginary taco dataset:

In [92]:
tacos = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/tacos.csv')
tacos.head()

     name      restaurant  number_of_tacos  score
0   Sarah      Taco Party                4    3.6
1  Georgi      Taco Mania                6    2.5
2   Sammy  Paradise Tacos               10    5.0
3   Peter      Taco Party                8    4.3
4     Rob      Taco Mania                8    3.4

In [93]:
# Another data set
tacos_toppings = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/taco_toppings.csv')

In [94]:
tacos_toppings.head()

     name favorite_topping least_favorite_topping corn_or_flour
0   Sammy            bacon                  slime          corn
1   Peter          avocado                   dirt         flour
2  Georgi         jalapeno                   dirt         flour
3   Sarah           cheese                 celery          corn
4     Rob            salsa                  slime         flour

In [96]:
pd.merge(tacos, tacos_toppings) # By default merge performs a left outer join

,name,restaurant,number_of_tacos,score,favorite_topping,least_favorite_topping,corn_or_flour
0,Sarah,Taco Party,4,3.6,cheese,celery,corn
1,Georgi,Taco Mania,6,2.5,jalapeno,dirt,flour
2,Sammy,Paradise Tacos,10,5.0,bacon,slime,corn
3,Peter,Taco Party,8,4.3,avocado,dirt,flour
4,Rob,Taco Mania,8,3.4,salsa,slime,flour

In [97]:
tacos.merge(tacos_toppings, how='outer')

,name,restaurant,number_of_tacos,score,favorite_topping,least_favorite_topping,corn_or_flour
0,Sarah,Taco Party,4,3.6,cheese,celery,corn
1,Georgi,Taco Mania,6,2.5,jalapeno,dirt,flour
2,Sammy,Paradise Tacos,10,5.0,bacon,slime,corn
3,Peter,Taco Party,8,4.3,avocado,dirt,flour
4,Rob,Taco Mania,8,3.4,salsa,slime,flour

Let's look at a couple of other ways of merging. First, let's append a row to our tacos DataFrame.

In [98]:
tacos = tacos.append({'name': 'Dan', 'restaurant': 'Tres Carnes', 'number_of_tacos': 7, 'score': 3.8}, ignore_index=True)
tacos

     name      restaurant  number_of_tacos  score
0   Sarah      Taco Party                4    3.6
1  Georgi      Taco Mania                6    2.5
2   Sammy  Paradise Tacos               10    5.0
3   Peter      Taco Party                8    4.3
4     Rob      Taco Mania                8    3.4
5     Dan     Tres Carnes                7    3.8

In [100]:
#Now, let's do a full outer merge.
tacos.merge(tacos_toppings, how = 'outer')

,name,restaurant,number_of_tacos,score,favorite_topping,least_favorite_topping,corn_or_flour
0,Sarah,Taco Party,4,3.6,cheese,celery,corn
1,Georgi,Taco Mania,6,2.5,jalapeno,dirt,flour
2,Sammy,Paradise Tacos,10,5.0,bacon,slime,corn
3,Peter,Taco Party,8,4.3,avocado,dirt,flour
4,Rob,Taco Mania,8,3.4,salsa,slime,flour
5,Dan,Tres Carnes,7,3.8,NaN,NaN,NaN

You can see that the entire tacos DataFrame has been merged, even though 'Dan' does not exist in the taco_toppings DataFrame.

However, if we do the same thing and use a right outer join, we'll only use the keys from the taco_toppings DataFrame and Dan will be left out.

In [102]:
pd.merge(tacos, tacos_toppings, how='right')

,name,restaurant,number_of_tacos,score,favorite_topping,least_favorite_topping,corn_or_flour
0,Sarah,Taco Party,4,3.6,cheese,celery,corn
1,Georgi,Taco Mania,6,2.5,jalapeno,dirt,flour
2,Sammy,Paradise Tacos,10,5.0,bacon,slime,corn
3,Peter,Taco Party,8,4.3,avocado,dirt,flour
4,Rob,Taco Mania,8,3.4,salsa,slime,flour

### Join
The join() function gives you a way way to combine DataFrames without needing a key. Taco_extra, which contains data about chips and spiciness level, has no name column.

In [103]:
taco_extra = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/taco_extra.csv')
taco_extra

  chips spiciness
0   yes       hot
1    no      mild
2    no    medium
3   yes       hot
4   yes       hot

In [104]:
tacos.join(taco_extra)

     name      restaurant  number_of_tacos  score chips spiciness
0   Sarah      Taco Party                4    3.6   yes       hot
1  Georgi      Taco Mania                6    2.5    no      mild
2   Sammy  Paradise Tacos               10    5.0    no    medium
3   Peter      Taco Party                8    4.3   yes       hot
4     Rob      Taco Mania                8    3.4   yes       hot
5     Dan     Tres Carnes                7    3.8   NaN       NaN

You can also specify how to join. The default is outer, but we can change it to inner and Dan will be left out again.

In [105]:
tacos.join(taco_extra, how='inner')

     name      restaurant  number_of_tacos  score chips spiciness
0   Sarah      Taco Party                4    3.6   yes       hot
1  Georgi      Taco Mania                6    2.5    no      mild
2   Sammy  Paradise Tacos               10    5.0    no    medium
3   Peter      Taco Party                8    4.3   yes       hot
4     Rob      Taco Mania                8    3.4   yes       hot

It's possible to join more than two DataFrames at a time. Let's slice off the name column from taco_toppings.

In [106]:
tacos_toppings

     name favorite_topping least_favorite_topping corn_or_flour
0   Sammy            bacon                  slime          corn
1   Peter          avocado                   dirt         flour
2  Georgi         jalapeno                   dirt         flour
3   Sarah           cheese                 celery          corn
4     Rob            salsa                  slime         flour

In [108]:
taco_toppings_noname = tacos_toppings.iloc[:,1:]
taco_toppings_noname

  favorite_topping least_favorite_topping corn_or_flour
0            bacon                  slime          corn
1          avocado                   dirt         flour
2         jalapeno                   dirt         flour
3           cheese                 celery          corn
4            salsa                  slime         flour

Joining this frame with tacos and taco_extra is as easy as chaining two joins together. Again, it's all an outer join, so even though there's no toppings or extra data for Dan, he's still included in the DataFrame.

In [109]:
tacos.join(taco_toppings_noname).join(taco_extra)

,name,restaurant,number_of_tacos,score,favorite_topping,least_favorite_topping,corn_or_flour,chips,spiciness
0,Sarah,Taco Party,4,3.6,bacon,slime,corn,yes,hot
1,Georgi,Taco Mania,6,2.5,avocado,dirt,flour,no,mild
2,Sammy,Paradise Tacos,10,5.0,jalapeno,dirt,flour,no,medium
3,Peter,Taco Party,8,4.3,cheese,celery,corn,yes,hot
4,Rob,Taco Mania,8,3.4,salsa,slime,flour,yes,hot
5,Dan,Tres Carnes,7,3.8,NaN,NaN,NaN,NaN,NaN

### Lesson: Let's merge some dataframes!

In [110]:
pizza = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/pizza.csv')
pizza_toppings = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/pizza_toppings.csv')

In [111]:
pizza.head()

      name pizza_style  number_of_slices flavored_crust
0     Will    new_york                 5            yes
1     Lane    new_york                 4             no
2     Dave     chicago                 4             no
3  Shannon     chicago                 6             no
4    Ethan     chicago                 3            yes

In [112]:
pizza_toppings.head()

      name favorite_topping least_favorite
0     Will        pepperoni      anchovies
1     Lane        anchovies      pineapple
2     Dave     green_pepper      anchovies
3  Shannon            onion      anchovies
4    Ethan              ham      bbq_sauce

In [113]:
# Merge them here
pizza.merge(pizza_toppings)

,name,pizza_style,number_of_slices,flavored_crust,favorite_topping,least_favorite
0,Will,new_york,5,yes,pepperoni,anchovies
1,Lane,new_york,4,no,anchovies,pineapple
2,Dave,chicago,4,no,green_pepper,anchovies
3,Shannon,chicago,6,no,onion,anchovies
4,Ethan,chicago,3,yes,ham,bbq_sauce

In [114]:
# Let's inner merge those DataFrames
pizza.merge(pizza_toppings, how = 'inner')

,name,pizza_style,number_of_slices,flavored_crust,favorite_topping,least_favorite
0,Will,new_york,5,yes,pepperoni,anchovies
1,Lane,new_york,4,no,anchovies,pineapple
2,Dave,chicago,4,no,green_pepper,anchovies
3,Shannon,chicago,6,no,onion,anchovies
4,Ethan,chicago,3,yes,ham,bbq_sauce

In [115]:
# Let's join pizza to another dataset, pizza_extra
pizza_extra = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/pizza_extra.csv')
pizza_extra

        meal heating_method
0     dinner           oven
1      lunch      microwave
2  breakfast           oven
3  breakfast      microwave

In [116]:
pizza.join(pizza_extra)

,name,pizza_style,number_of_slices,flavored_crust,meal,heating_method
0,Will,new_york,5,yes,dinner,oven
1,Lane,new_york,4,no,lunch,microwave
2,Dave,chicago,4,no,breakfast,oven
3,Shannon,chicago,6,no,breakfast,microwave
4,Ethan,chicago,3,yes,NaN,NaN

In [117]:
# Let's only join them together where all the data is present
pizza.join(pizza_extra, how = 'inner')

,name,pizza_style,number_of_slices,flavored_crust,meal,heating_method
0,Will,new_york,5,yes,dinner,oven
1,Lane,new_york,4,no,lunch,microwave
2,Dave,chicago,4,no,breakfast,oven
3,Shannon,chicago,6,no,breakfast,microwave

In [118]:
# Can you join all three dataframes together, first by merging pizza and pizza_toppings, then joining that to pizza_extra?
pizza.merge(pizza_toppings).join(pizza_extra)

,name,pizza_style,number_of_slices,flavored_crust,favorite_topping,least_favorite,meal,heating_method
0,Will,new_york,5,yes,pepperoni,anchovies,dinner,oven
1,Lane,new_york,4,no,anchovies,pineapple,lunch,microwave
2,Dave,chicago,4,no,green_pepper,anchovies,breakfast,oven
3,Shannon,chicago,6,no,onion,anchovies,breakfast,microwave
4,Ethan,chicago,3,yes,ham,bbq_sauce,NaN,NaN

### Pivoting
You can pivot in Pandas just like you would in Excel. pivot_table() takes in four requires parameters: the DataFrame, the column to use for the index, the column to use for the columns, and the column to use for the values. pivot_table() also has an aggfunc parameter that defaults to the mean of the values, but you can pass in other functions, just as we did in the agg() function before.

Let's look at the mean weight per model number and number of cylinders combination.

In [119]:
pd.pivot_table(auto_mpg, values='weight', index='model', columns='cylinders')

cylinders       3            4       5            6            8
model
70            NaN  2292.571429     NaN  2710.500000  3940.055556
71            NaN  2056.384615     NaN  3171.875000  4537.714286
72         2330.0  2382.642857     NaN          NaN  4228.384615
73         2124.0  2338.090909     NaN  2917.125000  4279.050000
74            NaN  2151.466667     NaN  3320.000000  4438.400000
75            NaN  2489.250000     NaN  3398.333333  4108.833333
76            NaN  2306.600000     NaN  3349.600000  4064.666667
77         2720.0  2205.071429     NaN  3383.000000  4177.500000
78            NaN  2296.764706  2830.0  3314.166667  3563.333333
79            NaN  2357.583333  3530.0  3025.833333  3862.900000
80         2420.0  2360.080000  2950.0  3145.500000          NaN
81            NaN  2275.476190     NaN  3093.571429  3725.000000
82            NaN  2402.321429     NaN  2931.666667          NaN

If a cell contains NaN, it means that that combination doesn't exist within the DataFrame.

We can pass in multiple column names to the rows and cols parameters. This creates a multiindex.

If we add the origin column to our pivot table, we can look at the average weight of all of the model/origin combinations against the number of cylinders the cars have.

In [121]:
auto_mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [122]:
pd.pivot_table(auto_mpg, values='weight', index = ['model','origin'], columns = 'cylinders')

cylinders          3            4       5            6            8
model origin
70    1          NaN          NaN     NaN  2710.500000  3940.055556
      2          NaN  2309.200000     NaN          NaN          NaN
      3          NaN  2251.000000     NaN          NaN          NaN
71    1          NaN  2178.600000     NaN  3171.875000  4537.714286
      2          NaN  2024.000000     NaN          NaN          NaN
      3          NaN  1936.000000     NaN          NaN          NaN
72    1          NaN  2263.800000     NaN          NaN  4228.384615
      2          NaN  2573.200000     NaN          NaN          NaN
      3       2330.0  2293.000000     NaN          NaN          NaN
73    1          NaN  2355.500000     NaN  2932.857143  4279.050000
      2          NaN  2335.714286     NaN          NaN          NaN
      3       2124.0  2329.000000     NaN  2807.000000          NaN
74    1          NaN  2372.666667     NaN  3320.000000  4438.400000
      2          NaN  2139.333333     NaN          NaN          NaN
      3          NaN  2053.000000     NaN          NaN          NaN
75    1          NaN  2615.500000     NaN  3398.333333  4108.833333
      2          NaN  2571.166667     NaN          NaN          NaN
      3          NaN  2303.250000     NaN          NaN          NaN
76    1          NaN  2318.200000     NaN  3343.250000  4064.666667
      2          NaN  2438.285714     NaN  3820.000000          NaN
      3          NaN  1980.000000     NaN  2930.000000          NaN
77    1          NaN  2346.000000     NaN  3525.000000  4177.500000
      2          NaN  2138.750000     NaN          NaN          NaN
      3       2720.0  2060.000000     NaN  2815.000000          NaN
78    1          NaN  2417.500000     NaN  3322.000000  3563.333333
      2          NaN  2256.666667  2830.0  3275.000000          NaN
      3          NaN  2221.250000     NaN          NaN          NaN
79    1          NaN  2435.857143     NaN  3025.833333  3862.900000
      2          NaN  2415.000000  3530.0          NaN          NaN
      3          NaN  1997.500000     NaN          NaN          NaN
80    1          NaN  2729.333333     NaN  3381.000000          NaN
      2          NaN  2272.750000  2950.0          NaN          NaN
      3       2420.0  2222.181818     NaN  2910.000000          NaN
81    1          NaN  2330.625000     NaN  3166.250000  3725.000000
      2          NaN  2580.000000     NaN  3160.000000          NaN
      3          NaN  2140.000000     NaN  2915.000000          NaN
82    1          NaN  2585.882353     NaN  2931.666667          NaN
      2          NaN  2055.000000     NaN          NaN          NaN
      3          NaN  2132.777778     NaN          NaN          NaN

You can apply different aggregate functions to a pivot table. Let's look at the total weight per model/cylinder combination.

In [123]:
pd.pivot_table(auto_mpg, values='weight', index='model', columns='cylinders', aggfunc='sum')

cylinders       3        4       5        6        8
model
70            NaN  16048.0     NaN  10842.0  70921.0
71            NaN  26733.0     NaN  25375.0  31764.0
72         2330.0  33357.0     NaN      NaN  54969.0
73         2124.0  25719.0     NaN  23337.0  85581.0
74            NaN  32272.0     NaN  23240.0  22192.0
75            NaN  29871.0     NaN  40780.0  24653.0
76            NaN  34599.0     NaN  33496.0  36582.0
77         2720.0  30871.0     NaN  16915.0  33420.0
78            NaN  39045.0  2830.0  39770.0  21380.0
79            NaN  28291.0  3530.0  18155.0  38629.0
80         2420.0  59002.0  2950.0   6291.0      NaN
81            NaN  47785.0     NaN  21655.0   3725.0
82            NaN  67265.0     NaN   8795.0      NaN

In [124]:
# Create a pivot_table for credit_approval with column A as the index, column J as the columns, and column H as the values.
f.head()

   A      B      C  D  E  F  G     H  I  J  K  L  M    N    O  P
0  b  30.83  0.000  u  g  w  v  1.25  t  t  1  f  g  202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t  6  f  g   43  560  +
2  a   24.5  0.500  u  g  q  h  1.50  t  f  0  f  g  280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t  5  t  g  100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f  0  f  s  120    0  +

In [125]:
# pd.pivot_table(auto_mpg, values='weight', index='model', columns='cylinders', aggfunc='sum')
pd.pivot_table(f, values = 'H', index='A', columns='J')

J         f         t
A
?  0.750000  2.416667
a  1.405370  2.188725
b  1.673291  3.578658

In [128]:
## Now, change the aggfunc to the standard deviation.
pd.pivot_table(f, values = 'H', index='A', columns='J',aggfunc='std')

J         f         t
A
?  1.203482  2.036132
a  2.316387  2.736864
b  2.660253  4.531032

## Data Analysis Practice on Census Data

In [129]:
# File I/O and exploring the data
import pandas as pd
census_data = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/census_data.csv')
census_data.head()

,age,work_class,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,fifty_k
0,47,Private,10th,6,Divorced,Exec-managerial,Not-in-family,Amer-Indian-Eskimo,Female,45,United-States,<=50K
1,40,Private,10th,6,Divorced,Craft-repair,Not-in-family,Amer-Indian-Eskimo,Male,40,United-States,<=50K
2,30,Private,10th,6,Divorced,Other-service,Not-in-family,Amer-Indian-Eskimo,Male,40,United-States,<=50K
3,27,Private,10th,6,Divorced,Transport-moving,Not-in-family,Amer-Indian-Eskimo,Male,75,United-States,<=50K
4,38,Private,10th,6,Divorced,Machine-op-inspct,Not-in-family,Asian-Pac-Islander,Female,40,Portugal,<=50K

In [132]:
# What are the column names?
census_data.columns

Index(['age', 'work_class', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'sex', 'hours_per_week',
       'native_country', 'fifty_k'],
      dtype='object')

In [133]:
# Sort the DataFrame by age and print out the last 5 lines
census_data.sort_values(by='age').tail()

,age,work_class,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,fifty_k
27276,90,Private,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,35,United-States,<=50K
1725,90,Private,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,40,United-States,<=50K
3524,90,Private,9th,5,Never-married,Adm-clerical,Not-in-family,White,Female,40,United-States,<=50K
21269,90,Private,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,99,United-States,<=50K
2940,90,Local-gov,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,<=50K

In [137]:
census_data.max()

age                             90
work_class             Without-pay
education             Some-college
education_num                   16
marital_status             Widowed
occupation        Transport-moving
relationship                  Wife
race                         White
sex                           Male
hours_per_week                  99
native_country          Yugoslavia
fifty_k                       >50K
dtype: object

In [143]:
# create a subset of the data with the columns education, occupation, hours_per_week. Look at the first 5 rows.
census_data.loc[0:4,['education','occupation','hours_per_week']]

  education         occupation  hours_per_week
0      10th    Exec-managerial              45
1      10th       Craft-repair              40
2      10th      Other-service              40
3      10th   Transport-moving              75
4      10th  Machine-op-inspct              40

In [144]:
## create a subset of the data with rows 50-100 and the columns work_class and race. Look at the first 5 rows.
census_data.loc[50:100,['work_class','race']].head()

          work_class   race
50           Private  White
51           Private  White
52  Self-emp-not-inc  White
53           Private  White
54           Private  White

In [159]:
# create a subset of the data where education_num is greater than 8 and where sex is equal to Female. 
# Look at the first 5 rows
test_census = (census_data['education_num'] > 8) & (census_data['sex'] == 'Female')

In [160]:
test_census.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

## groupby

In [167]:
# Group by work_class and output the group names (hint: add .keys() to the end of your line of code).
census_data.groupby('work_class').groups.keys()

dict_keys(['Federal-gov', 'Local-gov', 'Private', 'Self-emp-inc', 'Self-emp-not-inc', 'State-gov', 'Without-pay'])

In [169]:
# Let's group by work_class and use the mean as the aggregate function
census_data.groupby('work_class').mean()

                        age  education_num  hours_per_week
work_class
Federal-gov       42.577943      10.948038       41.279958
Local-gov         41.743106      11.036768       41.002419
Private           36.794355       9.871085       40.250875
Self-emp-inc      46.027933      11.167598       48.802607
Self-emp-not-inc  45.011605      10.211285       44.432173
State-gov         39.362002      11.349492       39.053948
Without-pay       47.785714       9.071429       32.714286

## Pivoting

In [170]:
# Let's pivot on education_num and sex, with hours_per_week as the values and mean as the aggfunc
census_data.head()

,age,work_class,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,fifty_k
0,47,Private,10th,6,Divorced,Exec-managerial,Not-in-family,Amer-Indian-Eskimo,Female,45,United-States,<=50K
1,40,Private,10th,6,Divorced,Craft-repair,Not-in-family,Amer-Indian-Eskimo,Male,40,United-States,<=50K
2,30,Private,10th,6,Divorced,Other-service,Not-in-family,Amer-Indian-Eskimo,Male,40,United-States,<=50K
3,27,Private,10th,6,Divorced,Transport-moving,Not-in-family,Amer-Indian-Eskimo,Male,75,United-States,<=50K
4,38,Private,10th,6,Divorced,Machine-op-inspct,Not-in-family,Asian-Pac-Islander,Female,40,Portugal,<=50K

In [175]:
# pd.pivot_table(auto_mpg, values='weight', index='model', columns='cylinders', aggfunc='sum')
pd.pivot_table(census_data, values='hours_per_week',index = 'sex', columns=['education_num'], aggfunc = 'mean')

education_num,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
sex,,,,,,,,,,,,,,,,
Female,32.142857,31.883721,34.942029,36.901515,34.739496,32.548000,29.528302,31.524590,37.128783,35.127643,38.542857,37.918987,39.650460,41.406680,44.896552,47.703704
Male,39.000000,40.962963,40.013699,41.134118,40.193452,39.621053,36.750369,37.694118,42.847045,41.985615,43.775822,43.288744,44.373651,45.531306,48.549451,47.867347

## ML Let's do the following:
For the machine learning section, can you extract a subset of the data where:

native_country equals United-States
hours_per_week is greater than 10
age is greater than 20 and less than 50
education is Masters
It's going to be a bunch of boolean indexing!

In [176]:
census_data.head()

,age,work_class,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,fifty_k
0,47,Private,10th,6,Divorced,Exec-managerial,Not-in-family,Amer-Indian-Eskimo,Female,45,United-States,<=50K
1,40,Private,10th,6,Divorced,Craft-repair,Not-in-family,Amer-Indian-Eskimo,Male,40,United-States,<=50K
2,30,Private,10th,6,Divorced,Other-service,Not-in-family,Amer-Indian-Eskimo,Male,40,United-States,<=50K
3,27,Private,10th,6,Divorced,Transport-moving,Not-in-family,Amer-Indian-Eskimo,Male,75,United-States,<=50K
4,38,Private,10th,6,Divorced,Machine-op-inspct,Not-in-family,Asian-Pac-Islander,Female,40,Portugal,<=50K

In [186]:
# Store that new dataframe in new_df and print out the first five rows.
# wine[(wine['magnesium'] < 100) & (wine['wine_type'] == 1)]
new_df = census_data[(census_data['native_country']=='United-States') & (census_data['hours_per_week'] > 10) 
            & 
            (census_data['age'] > 20) & (census_data['age'] < 50) & (census_data['education'] == 'Masters')
           ]

In [187]:
new_df.head()

,age,work_class,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,fifty_k
21271,46,Local-gov,Masters,14,Divorced,Prof-specialty,Not-in-family,Amer-Indian-Eskimo,Male,40,United-States,<=50K
21279,45,Local-gov,Masters,14,Divorced,Prof-specialty,Not-in-family,Black,Male,40,United-States,<=50K
21280,47,Local-gov,Masters,14,Divorced,Protective-serv,Not-in-family,Black,Male,50,United-States,>50K
21281,31,Private,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,30,United-States,<=50K
21285,45,Self-emp-not-inc,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,15,United-States,<=50K

In [190]:
# Split the DataFrame so that all of the columns except the last one are in new_df_data, 
# and the last one is in new_df_labels.
new_df_data = new_df.iloc[:,0:11]

In [191]:
new_df_data.head()

,age,work_class,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country
21271,46,Local-gov,Masters,14,Divorced,Prof-specialty,Not-in-family,Amer-Indian-Eskimo,Male,40,United-States
21279,45,Local-gov,Masters,14,Divorced,Prof-specialty,Not-in-family,Black,Male,40,United-States
21280,47,Local-gov,Masters,14,Divorced,Protective-serv,Not-in-family,Black,Male,50,United-States
21281,31,Private,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,30,United-States
21285,45,Self-emp-not-inc,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,15,United-States

In [197]:
new_df_labels = new_df.loc[:,'fifty_k']

In [198]:
new_df_labels.head()

21271    <=50K
21279    <=50K
21280     >50K
21281    <=50K
21285    <=50K
Name: fifty_k, dtype: object

# Scikit-learn

(If you're using the code files, please open scikit_learn_lessons.py)

## A brief intro to machine learning

There's a fair bit of backround knowledge that's important to know before we dive into the code. The actual code is rather simple, but I want you to understand exactly what's going on.

### What is machine learning?

Machine learning is the study and application of algorithms that learn from examples. It's concerned with constructing systems that learn from data, systems that can then make future predictions based on past input. It's based on the ideas of representation and generalization: the representation of relationships within the data, and the ability to generalize those relationships to new data. This means that we can create a model that will learn something from the data that we have, and then apply what it learns to data that it hasn't seen before. Machine learning provides a way to build executable data summaries; it helps us build better software by predicting more accurately on future inputs.

### Why is it useful?

This is an important topic because machine learning is everywhere. For example, your email spam filter is already trained to mark certain emails as spam, based on things like frequency of capital letters or number of suspicious links within an email. If a spam email does get through to your inbox and you manually mark it as spam, your spam filter learns from that input, and will mark similar emails as spam in the future. Another example is Netflix's recommender system. The more movies you rate on Netflix, the more that the recommender system learns what kind of movies you like to watch. The system will then get better at recommending to you appropriate movie choices. Machine learning is especially useful in data analysis.

### Some terms

- observation/instance/data point: these all mean the same thing, and that is one particular piece of the data that we can grab information about and learn relationships from.
- label/class: in classification, the label/class is what we aim to classify our new data as. Ex: email as spam or not spam.
- feature: features describe the data. Features of email spam could be number of capital letter or frequency of known spam words.
- categorical: discrete and finite data; has categories. Ex. spam or not spam.
- continuous: subset of real numbers, can take on any value between two points. Ex. temperature degrees.

### Types of machine learning

#### Supervised
Supervised learning is machine learning that makes use of labeled data. Supervised learning algorithms can use past observations to make future predictions on both categorical and continuous data. The two main types of supervised learning are classification and regression. Classification predicts labels, such as spam or not spam. Regression predicts the relationship between continuous variables, such as the relationship between temperature and elevation.

#### Unsupervised
Unsupervised learning is used when the data is unlabeled. You might not know what you're looking for within your data, and unsupervised learning can help you figure it out. Clustering is an example of unsupervised learning, where data instances are grouped together in a way that observations in the same group are more similar to each other than to those in other groups. Another example is dimensionality reduction, where the number of random variables is reduced, and is used for both feature selection and feature extraction.

## What is scikit-learn?
Scikit-learn is an open-source machine learning module. The scikit-learn project is constantly being developed and improved, and it has a very active user community. The documentation on the website is very thorough with plenty of examples, and there are a number of tutorials and guides for learning how scikit-learn works.

### Why scikit-learn?
You might be wondering why you'd want to use Python and scikit-learn, rather than other popular tools like MATLAB or R. Because scikit-learn is open source, it's free to use! Also, it's currently the most comprehensive machine learning tool for Python. There are also a number of Python libraries that work well with scikit-learn and extend its capabilities. 

## About this section
We're going to cover supervised learning due to time constraints. We'll talk about a few classifiers as well as linear regression. For the final lesson of this section, we'll use the three classifiers we learn about, k-nearest neighbor, decision trees, and the Naive Bayes classifier, on our census_data dataset. We'll then compare the classifiers and see which one is better for our data.

## Let's start with classification
Classification, again, classifies data into specific categories, and solves the task of figuring out which category new data belong to. There are many different kinds of classifiers, and which one you want to use depends on your data. We're only going to be covering k-Nearest Neighbors (kNN) and the Naive Bayes classifier (NB) because they're among the simplest to implement and understand.

For both algorithms, I'll walk you through simple examples of each, so that you'll have an idea of how they work. I'll also show you how to evaluate the models we create.

Something important to notice in my examples is that when we train, we use a different dataset than when we predict. This is to avoid the problem of overfitting. So, what's overfitting? Well, let's say we train our model on the entire dataset. If we want to also test with that dataset, we won't be able to get an accurate picture of how good our model is, because now it knows our entire dataset by heart. This is why we split up our sets.

## k-Nearest Neighbors

The k-Nearest Neighbors (kNN) algorithm finds a predetermined number of "neighbor" samples that are closest in distance to a starting data point and makes predictions based on the distances. kNN predicts labels by looking at the labels of its nearest neighbors. The metric used to calcuate the distances between points can be any distance metric measure, such as the Euclidean metric or the Manhattan distance.

kNN is useful when your data is linear in nature and can therefore be measured with a distance metric. Also, kNN does well when the decision boundary (or the delineation between classes) is hard to identify. 

kNN comes with a couple of caveats. If the classes in your dataset are unevenly distributed, the highest-occuring label will tend to dominate predictions. Also, choosing the *k* of kNN can be tricky. Choosing *k* deserves its own three hour tutorial, so we'll just go with the defaults for today.

### Classifying in scikit-learn: kNN

As we go through these examples, you'll notice that the basic fitting and predicting process is basically the same, which is one of the things that makes scikit-learn relatively easy to use.

Let's start by reading in some data and its labels, and then split it up so we don't overfit. The default split for the `train_test_split()` function is 0.25, meaning that 75% of the data is split into the training set and %25 is split into the test set. If you want a different split, that's something that can be changed.

In [200]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [202]:
wine_data = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/wine.csv')
wine_labels = pd.read_csv('C:/Users/ASHIAROR/Desktop/Personal/Learning/data/wine_labels.csv', squeeze=True)

In [203]:
wine_data_train, wine_data_test, wine_labels_train, wine_labels_test = train_test_split(wine_data, wine_labels)

Scikit-learn can actually understand DataFrames, and can use them as input. Here's what one row from wine_data_train looks like, which is a DataFrame.

In [204]:
wine_data_train[:1]

,abv,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyacins,color,hue,dilution,proline,wine_type
4,13.24,2.59,2.87,21.0,118,2.8,2.69,0.39,1.82,4.32,1.04,2.93,735,1

In [205]:
print(len(wine_data), len(wine_data_test), )

178 45

In [206]:
print(len(wine_labels_test), len(wine_labels_train))

45 133

Now we can fit kNN to our training data. This is pretty easy. We create our estimator object and then use the fit() function to fit the algorithm to our data.

In [207]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(wine_data_train, wine_labels_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

And finally, let's use our fitted model to predict on new data.

In [210]:
wine_data_test.head()

,abv,malic_acid,ash,alcalinity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyacins,color,hue,dilution,proline,wine_type
122,12.42,4.43,2.73,26.5,102,2.20,2.13,0.43,1.71,2.08,0.92,3.12,365,2
97,12.29,1.41,1.98,16.0,85,2.55,2.50,0.29,1.77,2.90,1.23,2.74,428,2
42,13.88,1.89,2.59,15.0,101,3.25,3.56,0.17,1.70,5.43,0.88,3.56,1095,1
54,13.74,1.67,2.25,16.4,118,2.60,2.90,0.21,1.62,5.85,0.92,3.20,1060,1
152,13.11,1.90,2.75,25.5,116,2.20,1.28,0.26,1.56,7.10,0.61,1.33,425,3

In [208]:
knn.predict(wine_data_test)

array([2, 2, 1, 1, 2, 2, 3, 2, 2, 3, 2, 2, 3, 3, 2, 2, 2, 1, 3, 3, 1, 1,
       3, 1, 1, 2, 1, 2, 3, 1, 3, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 3, 2,
       1], dtype=int64)

Lets now look at the real labels.

In [209]:
wine_labels_test

122    2
97     2
42     1
54     1
152    3
124    2
165    3
117    2
146    3
101    2
151    3
163    3
132    3
112    2
156    3
171    3
67     2
26     1
62     2
129    2
27     1
37     1
133    3
52     1
56     1
75     2
11     1
60     2
172    3
78     2
98     2
168    3
53     1
58     1
51     1
99     2
14     1
32     1
15     1
141    3
118    2
39     1
77     2
104    2
44     1
Name: wine_type, dtype: int64

You can see that there are some differences between the predictions and the actual labels. Let's actually calculate how accurate our classifier is. We can do that using cross-validation. Cross-validation is a method that takes a dataset, randomly splits it into training and test sets, and computes how accurate the model is by checking it against the real labels. It does this multiple times, and splits the dataset differently each time.

The cross_val_score() function takes several parameters. The first is the model you've fitted (in this case it's knn), the second is the entire dataset, the second is the entire list of labels, and if you'd like you can specify how many times you want to cross-validate (the cv parameter).

In [211]:
from sklearn.model_selection import cross_val_score

cross_val_score(knn, wine_data, wine_labels, cv = 5)

array([0.7027027 , 0.66666667, 0.63888889, 0.65714286, 0.76470588])

So our model is approximately 70% accurate. That's not so great, but you get the idea.

## Lesson: classification with kNN!

In [212]:
# We're going to be using scikit-learn's built in datasets for this.

from sklearn.datasets import load_iris

iris = load_iris()
iris_data = iris.data
iris_labels = iris.target

# Can you split the data into training and test sets?
from sklearn.model_selection import train_test_split

iris_data_train, iris_data_test, iris_labels_train, iris_labels_test = train_test_split(iris_data, iris_labels)

In [213]:
print(len(iris_data_train), len(iris_data_test))

112 38

In [214]:
print(len(iris_labels_train), len(iris_labels_test))

112 38

In [216]:
print(len(iris_data),len(iris_labels))

150 150

In [221]:
# Now, let's use the training data and labels to train our model.
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(iris_data_train,iris_labels_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [222]:
# And now, let's predict on our test set.
knn.predict(iris_data_test)

array([1, 0, 2, 2, 1, 0, 1, 1, 2, 1, 2, 0, 2, 1, 1, 2, 2, 2, 2, 2, 0, 2,
       0, 1, 2, 0, 2, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 2])

In [225]:
# Let's score our model using cross-validation to see how good it is.
from sklearn.model_selection import cross_val_score
cross_val_score(knn, iris_data, iris_labels, cv = 5)

array([0.96666667, 1.        , 0.93333333, 0.96666667, 1.        ])

## Decision trees
Decision trees are predictive models that learn simple decision rules based on the features within a dataset. They map observations about an item to conclusions about the item's target value. Leaves represent class labels and branches represent conjunctions of features that lead to those class labels. Decision trees in machine learning are made of the same decision trees that are used in game theory or decision analysis.

Decision trees are great for heterogeneous data, having the ability to handle both categorical and continuous data; however, they are fairly simple in nature and can lack the ability to capture rich relationships within a dataset.

## Classifying in scikit-learn: decision trees
We're going to basically do the same thing we just did, but with a different classifier.

In [226]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier() # tree model
tree.fit(wine_data_train, wine_labels_train) # fit the model to the training dataset
tree.predict(wine_data_test)

array([2, 2, 1, 1, 3, 2, 3, 2, 3, 2, 3, 3, 3, 2, 3, 3, 2, 1, 2, 2, 1, 1,
       3, 1, 1, 2, 1, 2, 3, 2, 2, 3, 1, 1, 1, 2, 1, 1, 1, 3, 2, 1, 2, 2,
       1], dtype=int64)

And let's cross-validate again. Let's only run it four times.

In [227]:
cross_val_score(tree, wine_data, wine_labels, cv =4)

array([1., 1., 1., 1.])

This model is a much better fit for our dataset, and is much more accurate than k-nearest neighbors.

## Lesson: classification with decision trees!

In [228]:
from sklearn.datasets import load_digits

digits = load_digits()
digits_data = digits.data
digits_labels = digits.target

# Once again, split the data into training and test sets.
from sklearn.model_selection import train_test_split
digits_data_test, digits_data_train, digits_labels_test, digits_labels_train = train_test_split(digits_data,digits_labels)

In [229]:
print(len(digits_data_test), len(digits_data_train), len(digits_labels_test), len(digits_labels_train))

1347 450 1347 450

In [230]:
# Fit the model to our data.
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier() # tree model
tree.fit(digits_data_train, digits_labels_train) # fit the model to the training dataset
tree.predict(digits_data_test) # Predict on the test set

array([0, 4, 7, ..., 4, 6, 4])

In [231]:
# Finally, cross-validate
cross_val_score(tree, digits_data, digits_labels, cv =4)

array([0.78854626, 0.73170732, 0.83892617, 0.76179775])

## Naive Bayes
The Naive Bayes classifier is a probabilistic classifier based on Bayes' Theorem, which states that the probability of A given the probability of B is equal to the probability of B given A times the probability of A, divided by the probability of B. In Naive Bayes classification, the classifier assumes that the features in your dataset are independent of each other; that is, one feature being a certain way has no effect on what values the other features take. This is a naive assumption because this doesn't always hold true in reality, but despite this naivety and oversimplified assumptions, the classifier performs decently and even quite well in certain classification situations.

The Naive Bayes classifier is useful when your features are independent and your data is normally distributed. More sophisticated methods generally perform better.

Classifying in scikit-learn: Naive Bayes
Just as we did the first two times, let's do it again. We're going to use the GaussianNB estimator object, because our data is for the most part normally distributed. We're also going to use the same wine training and test sets we made earlier.

In [232]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(wine_data_train, wine_labels_train)
gnb.predict(wine_data_test)

array([2, 2, 1, 1, 3, 2, 3, 2, 3, 2, 3, 3, 3, 2, 3, 3, 2, 1, 2, 2, 1, 1,
       3, 1, 1, 2, 1, 2, 3, 2, 2, 3, 1, 1, 1, 2, 1, 1, 1, 3, 2, 1, 2, 2,
       1], dtype=int64)

In [233]:
cross_val_score(gnb, wine_data, wine_labels, cv=4)

array([1., 1., 1., 1.])

In [234]:
# We're going to be using scikit-learn's built in datasets for this.

from sklearn.datasets import load_digits

digits = load_digits()
digits_data = digits.data
digits_labels = digits.target

# Once again, split the data into training and test sets.

from sklearn.model_selection import train_test_split
digits_data_test, digits_data_train, digits_labels_test, digits_labels_train = train_test_split(digits_data,digits_labels)

In [235]:
# Fit and train the model to our data.
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(digits_data_train, digits_labels_train)
gnb.predict(digits_data_test)

array([3, 5, 4, ..., 0, 3, 2])

In [236]:
cross_val_score(gnb, digits_data, digits_labels, cv=4)

array([0.81938326, 0.76274945, 0.82102908, 0.83146067])

## Linear regression

Linear regression is used when the target value is expected to be a linear combination of the input variables. The goal of linear regression, in creating a linear model, is to minimize the sum of squared residuals between the observed data and the responses predicted by linear approximation. Linear regression can be used to represent the relationship between variables like temperature and elevation, or something like housing prices and square footage.

Linear regression is appropriate when your data is continuous and linear.

## Linear regression in scikit-learn
Let's try this on subset of our wine data, since those values are continuous other than wine_type. Let's see what the relationship is between magnesium and abv. First, let's subset the data.

In [237]:
wine_data_mag = wine_data.loc[:,['magnesium','color']]
wine_data_abv = wine_data.loc[:,'abv']
wine_data_mag.head()

   magnesium  color
0        127   5.64
1        100   4.38
2        101   5.68
3        113   7.80
4        118   4.32

And, as always, let's split up the data. Our target values are going to be the continuous abv values.

In [238]:
wine_mag_train, wine_mag_test, wine_abv_train, wine_abv_test = train_test_split(wine_data_mag, wine_data_abv)

Then, we fit the model to our data.

In [241]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(wine_mag_train, wine_abv_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [242]:
lr.predict(wine_mag_test)

array([13.0482104 , 12.41636392, 12.66689105, 13.39443339, 12.87792373,
       12.39184666, 12.97732404, 12.39557767, 12.81727109, 12.48818303,
       12.44951507, 12.97593963, 12.82329269, 12.58478508, 13.0869315 ,
       12.15621701, 13.25340745, 13.05354124, 13.43701834, 12.77852342,
       12.62166724, 13.18038991, 12.79930967, 12.67357973, 12.44194677,
       12.65740411, 12.97332735, 12.27259285, 12.30577057, 13.81623308,
       12.41836226, 12.40876905, 14.1869202 , 12.99437927, 14.21729966,
       12.64234722, 13.08831879, 13.00290689, 12.53447243, 12.83248738,
       13.21370046, 12.99043572, 13.96280241, 12.80144085, 13.33015601])

We can check the accuracy of our linear regression model by using the score() function. The score() function returns the R^2 coefficient, which is a measure of how far away from the actual values are predictions were. The closer to 1, the better the regression model

In [243]:
lr.score(wine_mag_test, wine_abv_test)

0.20777974203794222

In [247]:
# We're going to be using scikit-learn's built in datasets for this.

from sklearn.datasets import load_boston

boston = load_boston()
boston_data = boston.data
boston_target = boston.target

In [248]:
# Once again, split the data into training and test sets.
from sklearn.model_selection import train_test_split
boston_data_train, boston_data_test, boston_target_train, boston_target_test = train_test_split(boston_data, boston_target)

In [249]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(boston_data_train,boston_target_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [250]:
lr.predict(boston_data_test)

array([ 8.98225114, 29.78293614, 34.85161806, 21.53360942,  8.05289184,
       19.91461783, 16.42671647, 34.42601882, 22.27297683, 12.36027804,
       18.06647668, 21.91436891, 28.81873882, 19.26877905, 27.89423101,
       21.31581069, 17.52402915, 23.10259019, 20.47810473, 27.6187679 ,
        2.85786798, 22.669168  , 18.7294575 , 17.7381006 ,  5.82856738,
        7.97848838,  9.55957759, 17.25105131, 27.78242139, 25.30667822,
       20.36655044, 17.99211444, 23.71152407, 35.26388764, 25.8001651 ,
       25.73096469, 24.24421775, 19.59389454, 14.70188056, 40.2315264 ,
       20.18817664,  9.73074701, 35.54250824, 21.80816691, 39.53169294,
       20.60388167, 21.2792776 , -0.08281087, 10.01122624, 18.52923359,
       13.21195313, 16.9733251 , 29.30547436, 41.09729729, 23.88503737,
       20.99909813, 26.36528535, 12.50556637, 26.97728193, 22.09050197,
       23.55730779, 19.33217544, 31.29440141, 27.16080949, 27.44668561,
       15.62475368, 32.60568443, 11.14925304, 23.34259542, 16.41229242,
       17.49266908, 25.34467031, 17.69046411, 23.62692744, 15.52300166,
       15.14372177, 23.30156891,  6.7261498 , 23.86993894, 34.17395523,
       27.22329612, 20.96304665, 21.20867207, 41.07546219, 27.21357008,
       23.66833905, 20.76164716, 23.88605445, 33.22584833, 22.18069393,
       13.98159208, 18.19568368, 25.51753358, 22.13696763, 18.5528383 ,
       20.42233401, 19.64850069, 27.25290002, 24.87099937, 31.60123812,
       17.70448962, 25.81695119, 19.78832846, 19.73737736, 32.28902334,
        6.55710093, 20.47163722, 21.30686367, 25.1435644 , 29.93648301,
       13.32896731, 28.10035688, 19.14773767, 39.03333418, 11.70585638,
       35.76533793, 27.7513292 , 18.31007508, 19.30609384, 22.91460734,
       20.55398081, 36.86455392, 33.9226901 , 14.68621716, 30.4886473 ,
       16.77159777, 19.23097084])

In [251]:
lr.score(boston_data_test, boston_target_test)

0.7525182539936452

# Lesson: let's classify our data!

## Final preprocessing touches

Scikit-learn estimators take in continuous data only, which means that we'll have to transform our categorical data into something the scikit-learn estimators can handle. This is actually much easier than it sounds! We're going to convert our dataframe into a dictionary, and then encode the data in that dictionary into arrays of 1s and 0s.

Let's first transform the `DataFrame` into a dictionary. We first have to transpose our `DataFrame`, so there is one row per nested dictionary. Finally, we'll put each item into a list, because scikit-learn's `DictVectorizer` object takes a list of dictionaries to encode. We also only need the values from our list of dictionaries.

In [252]:
new_df_data.head() # Census Data

,age,work_class,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country
21271,46,Local-gov,Masters,14,Divorced,Prof-specialty,Not-in-family,Amer-Indian-Eskimo,Male,40,United-States
21279,45,Local-gov,Masters,14,Divorced,Prof-specialty,Not-in-family,Black,Male,40,United-States
21280,47,Local-gov,Masters,14,Divorced,Protective-serv,Not-in-family,Black,Male,50,United-States
21281,31,Private,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,30,United-States
21285,45,Self-emp-not-inc,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,15,United-States

In [253]:
new_df_transpose = new_df_data.transpose()

In [254]:
new_df_transpose.head()

,21271,21279,21280,21281,21285,21286,21287,21288,21289,21291,...,22860,22866,22873,22874,22880,22882,22884,22885,22894,22895
age,46,45,47,31,45,42,43,42,31,45,...,49,34,46,41,46,43,49,49,46,43
work_class,Local-gov,Local-gov,Local-gov,Private,Self-emp-not-inc,Private,Self-emp-not-inc,Private,State-gov,Local-gov,...,Local-gov,Local-gov,Private,Private,Local-gov,Private,Local-gov,Local-gov,State-gov,Private
education,Masters,Masters,Masters,Masters,Masters,Masters,Masters,Masters,Masters,Masters,...,Masters,Masters,Masters,Masters,Masters,Masters,Masters,Masters,Masters,Masters
education_num,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
marital_status,Divorced,Divorced,Divorced,Divorced,Divorced,Divorced,Divorced,Divorced,Divorced,Divorced,...,Separated,Widowed,Widowed,Widowed,Widowed,Widowed,Widowed,Widowed,Widowed,Widowed

In [255]:
data_into_dict = new_df_transpose.to_dict()

In [256]:
data_into_dict

{21271: {'age': 46,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'Amer-Indian-Eskimo',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21279: {'age': 45,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'Black',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21280: {'age': 47,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Protective-serv',
  'relationship': 'Not-in-family',
  'race': 'Black',
  'sex': 'Male',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 21281: {'age': 31,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Other-service',
  'relationship': 'Not-in-family',
  'race': 'Other',
  'sex': 'Female',
  'hours_per_week': 30,
  'native_country': 'United-States'},
 21285: {'age': 45,
  'work_class': 'Self-emp-not-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 15,
  'native_country': 'United-States'},
 21286: {'age': 42,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 16,
  'native_country': 'United-States'},
 21287: {'age': 43,
  'work_class': 'Self-emp-not-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 20,
  'native_country': 'United-States'},
 21288: {'age': 42,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Adm-clerical',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 25,
  'native_country': 'United-States'},
 21289: {'age': 31,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Adm-clerical',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 25,
  'native_country': 'United-States'},
 21291: {'age': 45,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 30,
  'native_country': 'United-States'},
 21295: {'age': 45,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 35,
  'native_country': 'United-States'},
 21299: {'age': 42,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 38,
  'native_country': 'United-States'},
 21302: {'age': 38,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Adm-clerical',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21303: {'age': 37,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21305: {'age': 49,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21306: {'age': 37,
  'work_class': 'Federal-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21308: {'age': 39,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21309: {'age': 45,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21310: {'age': 39,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21316: {'age': 42,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21317: {'age': 47,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21318: {'age': 49,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21321: {'age': 45,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21323: {'age': 48,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21330: {'age': 46,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 21333: {'age': 40,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 21335: {'age': 34,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 21336: {'age': 28,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 21338: {'age': 46,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 21339: {'age': 45,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 21340: {'age': 43,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 21341: {'age': 46,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 21342: {'age': 43,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 21344: {'age': 46,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 55,
  'native_country': 'United-States'},
 21345: {'age': 49,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 60,
  'native_country': 'United-States'},
 21346: {'age': 46,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 60,
  'native_country': 'United-States'},
 21350: {'age': 37,
  'work_class': 'Self-emp-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 70,
  'native_country': 'United-States'},
 21352: {'age': 49,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 75,
  'native_country': 'United-States'},
 21355: {'age': 40,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 20,
  'native_country': 'United-States'},
 21358: {'age': 46,
  'work_class': 'Self-emp-not-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 30,
  'native_country': 'United-States'},
 21360: {'age': 41,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 35,
  'native_country': 'United-States'},
 21361: {'age': 48,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Sales',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 35,
  'native_country': 'United-States'},
 21362: {'age': 45,
  'work_class': 'Self-emp-not-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Craft-repair',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21363: {'age': 42,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21364: {'age': 41,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21365: {'age': 42,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21366: {'age': 45,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21367: {'age': 47,
  'work_class': 'Self-emp-not-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21369: {'age': 42,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21370: {'age': 47,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Tech-support',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21371: {'age': 45,
  'work_class': 'Federal-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21374: {'age': 47,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21375: {'age': 48,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 21377: {'age': 40,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 43,
  'native_country': 'United-States'},
 21378: {'age': 45,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 21379: {'age': 42,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 21380: {'age': 45,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 21381: {'age': 37,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 21382: {'age': 38,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 21383: {'age': 44,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 21384: {'age': 49,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Sales',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 21385: {'age': 45,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Transport-moving',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 48,
  'native_country': 'United-States'},
 21388: {'age': 45,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Protective-serv',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 21389: {'age': 48,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 21394: {'age': 42,
  'work_class': 'Federal-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Adm-clerical',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 60,
  'native_country': 'United-States'},
 21398: {'age': 43,
  'work_class': 'Federal-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Protective-serv',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 60,
  'native_country': 'United-States'},
 21399: {'age': 47,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Sales',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 60,
  'native_country': 'United-States'},
 21400: {'age': 46,

In [261]:
census_data = [v for k, v in data_into_dict.items()]

In [262]:
census_data

[{'age': 46,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'Amer-Indian-Eskimo',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'Black',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 47,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Protective-serv',
  'relationship': 'Not-in-family',
  'race': 'Black',
  'sex': 'Male',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 {'age': 31,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Other-service',
  'relationship': 'Not-in-family',
  'race': 'Other',
  'sex': 'Female',
  'hours_per_week': 30,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Self-emp-not-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 15,
  'native_country': 'United-States'},
 {'age': 42,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 16,
  'native_country': 'United-States'},
 {'age': 43,
  'work_class': 'Self-emp-not-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 20,
  'native_country': 'United-States'},
 {'age': 42,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Adm-clerical',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 25,
  'native_country': 'United-States'},
 {'age': 31,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Adm-clerical',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 25,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 30,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 35,
  'native_country': 'United-States'},
 {'age': 42,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 38,
  'native_country': 'United-States'},
 {'age': 38,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Adm-clerical',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 37,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 49,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 37,
  'work_class': 'Federal-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 39,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 39,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 42,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 47,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 49,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 48,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 46,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 {'age': 40,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 {'age': 34,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 {'age': 28,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 {'age': 46,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 {'age': 43,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 {'age': 46,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 {'age': 43,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 {'age': 46,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 55,
  'native_country': 'United-States'},
 {'age': 49,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 60,
  'native_country': 'United-States'},
 {'age': 46,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 60,
  'native_country': 'United-States'},
 {'age': 37,
  'work_class': 'Self-emp-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 70,
  'native_country': 'United-States'},
 {'age': 49,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'hours_per_week': 75,
  'native_country': 'United-States'},
 {'age': 40,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 20,
  'native_country': 'United-States'},
 {'age': 46,
  'work_class': 'Self-emp-not-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 30,
  'native_country': 'United-States'},
 {'age': 41,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 35,
  'native_country': 'United-States'},
 {'age': 48,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Sales',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 35,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Self-emp-not-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Craft-repair',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 42,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 41,
  'work_class': 'Local-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 42,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 47,
  'work_class': 'Self-emp-not-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 42,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 47,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Tech-support',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Federal-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 47,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 48,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 40,
  'native_country': 'United-States'},
 {'age': 40,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 43,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 {'age': 42,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Prof-specialty',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 {'age': 37,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 {'age': 38,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 {'age': 44,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 {'age': 49,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Sales',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 45,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Transport-moving',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 48,
  'native_country': 'United-States'},
 {'age': 45,
  'work_class': 'State-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Protective-serv',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 {'age': 48,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 50,
  'native_country': 'United-States'},
 {'age': 42,
  'work_class': 'Federal-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Adm-clerical',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 60,
  'native_country': 'United-States'},
 {'age': 43,
  'work_class': 'Federal-gov',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Protective-serv',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 60,
  'native_country': 'United-States'},
 {'age': 47,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Sales',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 60,
  'native_country': 'United-States'},
 {'age': 46,
  'work_class': 'Self-emp-inc',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Sales',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',
  'hours_per_week': 60,
  'native_country': 'United-States'},
 {'age': 37,
  'work_class': 'Private',
  'education': 'Masters',
  'education_num': 14,
  'marital_status': 'Divorced',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Male',

Now, let's encode those features and instances.

In [263]:
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer()
transformed_data = dv.fit_transform(census_data).toarray()
transformed_data

array([[46.,  1., 14., ...,  0.,  0.,  0.],
       [45.,  1., 14., ...,  0.,  0.,  0.],
       [47.,  1., 14., ...,  0.,  0.,  0.],
       ...,
       [49.,  1., 14., ...,  0.,  0.,  0.],
       [46.,  1., 14., ...,  0.,  0.,  1.],
       [43.,  1., 14., ...,  0.,  0.,  0.]])

Now that we've done that, let's encode the labels.

In [264]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
transformed_labels = le.fit_transform(new_df_labels)
transformed_labels

array([0, 0, 1, ..., 0, 0, 1])

In [266]:
#Now that we've done that, can you separate the transformed_data and transformed_labels into training and test sets?
from sklearn.model_selection import train_test_split
transformed_data_test, transformed_data_train, transformed_labels_test, transformed_labels_train = train_test_split(transformed_data,transformed_labels)

In [267]:
print(len(transformed_data_test), len(transformed_data_train), len(transformed_labels_test), len(transformed_labels_train))

789 263 789 263

In [268]:
# Let's fit and predict all three classifiers to this data.

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

In [269]:
KNN = KNeighborsClassifier()
DT = DecisionTreeClassifier()
GNB = GaussianNB()

In [270]:
KNN.fit(transformed_data_train,transformed_labels_train)
DT.fit(transformed_data_train,transformed_labels_train)
GNB.fit(transformed_data_train, transformed_labels_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [273]:
# predict all
KNN.predict(transformed_data_test)
DT.predict(transformed_data_test)
GNB.predict(transformed_data_test)

array([0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1])

In [275]:
# Run cross-validation on kNN. Set cv=5
from sklearn.model_selection import cross_val_score
cross_val_score(KNN,transformed_data, transformed_labels, cv=5)

array([0.61792453, 0.60952381, 0.61904762, 0.48571429, 0.6047619 ])

In [276]:
# Run cross-validation on GNB. Set cv=5
from sklearn.model_selection import cross_val_score
cross_val_score(GNB,transformed_data, transformed_labels, cv=5)

array([0.71226415, 0.57619048, 0.5952381 , 0.53333333, 0.66190476])

In [277]:
# Run cross-validation on DT. Set cv=5
from sklearn.model_selection import cross_val_score
cross_val_score(DT,transformed_data, transformed_labels, cv=5)

array([0.64622642, 0.57619048, 0.57619048, 0.35714286, 0.4952381 ])